---
import Layout from '../layouts/Layout.astro';
import {Header, Footer} from 'mee-components';
import {header, footer} from '../../astro.config.mjs';
import AppButtons from '../components/AppButtons.astro';
---

<Layout title="Mee Foundation - Get the app">
  <main class="w-screen overflow-hidden">
    <Header header={header} activePage="downloads" />
    <article
      class="relative flex h-full min-h-[101vh] w-screen flex-col items-center justify-between gap-10 overflow-hidden pt-25 md:pt-36"
    >
      <div
        class="relative z-100 mb-10 flex h-auto w-screen max-w-4xl flex-1 flex-col items-center justify-center gap-10"
      >
        <div class="bg-1"></div>
        <section
          class="section top-0 z-100 mb-3.5 flex w-screen items-center justify-center"
        >
          <div
            class="flex flex-col items-center justify-center px-6 transition-opacity duration-500 md:p-0"
          >
            <div class="overflow-hidden">
              <h1
                class="marker mt-7 animate-riseIn text-3xl font-bold md:text-4xl lg:mt-13 lg:text-6xl"
              >
                <mark>Downloads</mark>
              </h1>
            </div>
          </div>
        </section>
        <section class="z-100 overflow-hidden">
          <h3
            class="text animate-riseIn px-6 text-center text-base leading-relaxed text-black/80 animation-delay-800 md:text-xl"
          >
            We’re working on a human-centered user experience for the internet.
          </h3>
        </section>
        <section
          class="section top-0 z-100 flex w-screen items-center justify-center"
        >
          <div
            class="flex flex-col items-center justify-center px-6 transition-opacity duration-500"
          >
            <div class="overflow-hidden">
              <h2
                class="animate-riseIn text-center text-2xl font-bold md:text-2xl lg:text-4xl"
              >
                Experimental apps
              </h2>
            </div>
          </div>
        </section>
        <section class="z-100 overflow-hidden">
          <h3
            class="text animate-riseIn px-6 text-center text-base leading-relaxed text-black/80 animation-delay-800 md:text-xl"
          >
            As a first step, we have developed an experimental identity agent
            mobile app. It currently supports the following functions: logging
            in to OpenID SIOP-compatible apps/sites (without passwords),
            retrieving user information from your Google Account, and sending
            the <a
              href="https://globalprivacycontrol.org/"
              target="_blank"
              class="text-primary">Global Privacy Control</a
            > signal to indicate your privacy preference not to share/sell your personal
            information.
          </h3>
        </section>
        <AppButtons btnSize="normal" noDescription={true} class="z-100" />
      </div>
      <Footer footer={footer} mode="dark" />
    </article>
  </main>
</Layout>
<style>
  .bg-1 {
    content: '';
    position: absolute;
    width: 150vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 40%;
    height: 100vh;
    background: linear-gradient(
      to top,
      rgba(249, 200, 137, 0.4) 75%,
      rgba(249, 182, 137, 0.4) 100%
    );
    filter: blur(100px);
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }
</style>

<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  };
</script>
