---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EnvisionSection from '../components/EnvisionSection.astro';
---

<Layout title="Mee Foundation">
  <Header
    backgroundColor="backdrop-blur-md"
    logoColor="blue"
    withoutProgress={true}
  />
  <main class="h-screen w-screen overflow-x-visible">
    <div class="relative">
      <div class="fixed" id="envision-container"><EnvisionSection /></div>
    </div>

    <div id="end-element"></div>
  </main>
</Layout>
<style>
  html,
  body {
    overscroll-behavior: none;
  }
</style>

<script>
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  };
</script>
