---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EnvisionSection from '../components/EnvisionSection.astro';
---

<Layout title="Mee Foundation">
  <Header backgroundColor="backdrop-blur-md" logoColor="blue" withoutProgress={true} />
  <main class="h-screen w-screen overflow-x-visible">
    <EnvisionSection />
    <div id="end-element"></div>
  </main>
</Layout>
