---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ForProviders from '../components/ForProviders.astro';
---

<Layout title="Mee Foundation - Businesses">
	<Header logoColor="blue" backgroundColor="backdrop-blur-md"/>
	<main class="scrollContainer transform-gpu">
		<ForProviders />
	</main>
</Layout>