---
import Layout from '../layouts/Layout.astro';
import {Header} from 'mee-components';
import {header} from '../../astro.config.mjs';
import ForProvidersContent from '../components/ForProvidersContent.astro';
---

<Layout title="Mee Foundation - Businesses">
  <Header header={header} activePage="business" />
  <main class="w-screen overflow-hidden">
    <ForProvidersContent />
  </main>
</Layout>
