---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ForProviders from '../components/ForProviders.astro';
---

<Layout title="Mee Foundation - For Providers">
	<Header logoColor="blue"/>
	<main class="scrollContainer transform-gpu">
		<ForProviders />
	</main>
</Layout>