---
import Layout from '../layouts/Layout.astro';
import {Header} from 'mee-components';
import {header} from '../../astro.config.mjs';
import TodaySection from '../components/TodaySection.astro';
---

<Layout title="Mee Foundation">
  <Header header={header} type="dark" className="hidden" />
  <main class="w-full overflow-x-visible">
    <TodaySection fromEnvision={true} />
  </main>
</Layout>

<style>
  html {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overscroll-behavior: none;
    --bleachProgress: 1;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overscroll-behavior: none;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .background {
    background: radial-gradient(#0d070c, #200e1d);
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
