---
export interface Props {

}

const { } = Astro.props;
---

<div class="background">
</div>
<style>
	.background {
    position: fixed;
    height: 100vh;
    width: 100vw;
		background: radial-gradient(#0D070C, #200E1D);
	}

</style>