---
import Footer from './Footer.astro';

export interface Props {}

const {} = Astro.props;
---

<article
  id="envision"
  class="envision relative -mt-[0vh] flex w-screen flex-col items-center justify-center overflow-x-hidden"
>
  <section
    class="en-section relative flex w-[400vw] flex-col items-center px-5 py-30 text-black/[.8] md:pb-45 md:pt-40 lg:w-[200vw]"
  >
    <h2
      class="z-70 mb-15 text-3xl font-bold leading-thick md:mb-25 md:text-4xl md:leading-normal lg:text-5xl"
    >
      Introducing Mee experience
    </h2>
    <div class="fixed top-0 h-screen w-screen">
      <div class="overflow-hidden"></div>
    </div>
    <div class="bg-1"></div>
    <div
      class="z-70 flex w-screen flex-col items-center justify-center gap-18.5 px-5 lg:flex-row lg:items-start"
    >
      <div
        class="section__item flex max-w-[400px] flex-col items-center justify-center gap-5 text-center"
      >
        <h6
          class="text-xl font-bold leading-thick text-black/[.8] md:text-2xl lg:text-3xl"
        >
          Personal Data Service
        </h6>
        <p
          class="text-base font-normal leading-[1.6] text-black/[.8] md:text-xl"
        >
          Mee is a free personal data service that holds and manages your
          personal information. It’s provided by a non-profit organization that
          works on behalf of all Mee users.
        </p>
      </div>
      <div
        class="en-section__item flex max-w-[400px] flex-col items-center justify-center gap-5 text-center"
      >
        <h6
          class="text-xl font-bold leading-thick text-black/[.8] md:text-2xl lg:text-3xl"
        >
          Respecting Privacy
        </h6>
        <p
          class="text-base font-normal leading-[1.6] text-black/[.8] md:text-xl"
        >
          Mee offers a simple, privacy-respecting experience. It lets you see
          who has access to your information and puts you in control of what
          businesses can do with your personal data.
        </p>
        <a
          class="link relative hidden items-center justify-between gap-2 text-base font-extrabold leading-[1.6] text-black/[.8] after:-rotate-45 after:bg-black/[.8]"
          href="#"
          rel="nofollow"
          target="_blank">Human Information License (HIL)</a
        >
      </div>
      <div
        class="en-section__item flex max-w-[400px] flex-col items-center justify-center gap-5 text-center"
      >
        <h6
          class="text-xl font-bold leading-thick text-black/[.8] md:text-2xl lg:text-3xl"
        >
          Mee-compatible apps
        </h6>
        <p
          class="text-base font-normal leading-[1.6] text-black/[.8] md:text-xl"
        >
          Apps never share your information with other companies. You enjoy less
          form-filling, fewer passwords. The apps support a surveillance-free
          private advertising business model.
        </p>
      </div>
    </div>
  </section>
  <Footer mode="dark" withAppButtons={false} />
</article>

<style>
  .envision {
    background: #fff;
  }

  .bg-1 {
    position: absolute;
    height: 100%;
    transform: translate(-10vw, 0);
    z-index: 70;
    transform: translateY(150px);
    background: linear-gradient(
      to top,
      rgba(249, 200, 137, 0.4) 75%,
      rgba(249, 182, 137, 0.4) 100%
    );
    filter: blur(100px);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 250vw;
  }

  .bg-2 {
    width: 200vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: #fff;
    z-index: 100;
  }
  .text {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  .logo {
    animation-duration: 800ms;
    animation-timing-function: ease-in;
  }
  .subtitleSection:last-child {
    height: 100vh;
  }
</style>
<script>
  const optionsForStopScroll: IntersectionObserverInit = {
    threshold: 0,
    rootMargin: '0px 0px -100% 0px',
  };
  const observerStopScroll = new IntersectionObserver((entries, _) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        const event = new CustomEvent('atTheStopScroll');
        window.dispatchEvent(event);
      }
    });
  }, optionsForStopScroll);
  const sectionForStopScroll = document.querySelector('.en-section');
  sectionForStopScroll && observerStopScroll.observe(sectionForStopScroll);

  const sectionItems = document.querySelectorAll('.en-section__item');
  const observerSection = new IntersectionObserver(
    (entries, _) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-moveCard');
        }
      });
    },
    {threshold: 0.1},
  );
  sectionItems.forEach((sectionItem) => {
    observerSection.observe(sectionItem);
  });
</script>
