---
export interface Props {
}

const {  } = Astro.props;
---

<div class="flex fixed top-0 left-0 w-screen h-screen">
  <img src="../../assets/how-many-times-bubble.svg" width="134" height="69" class="ml-[180px]"/>
</div>
<style>
	

</style>
