---
import { links } from './Menu.astro';

export interface Props {
  type: "fill" | "white";
}

const {type} = Astro.props;

---

<footer class:list={["footer section flex flex-col items-center justify-center pt-33 text-white w-[400vw] md:w-[200vw]", {"footer--fill text-white": type === "fill", "text-blue": type === "white"}]}>
  <ul class="list-none flex flex-col gap-9 w-screen px-5 mb-20 md:max-w-[414px]">
    {links.map(link => <li class=""><a href={link.link} class="link relative block text-base md:text-xl leading-normal font-medium pb-3 border-b border-solid border-white">{link.footerName || link.name}</a></li>)}
  </ul>
  <div class="flex flex-col gap-7 mb-12.5 w-screen items-center">
    <h6 class="text-2xl leading-normal font-bold">Click here for Mee updates</h6>
    <a class="flex items-center text-xl text-left leading-normal font-medium text-black/[.8] bg-white w-[277px] px-3 py-3 rounded-full"><img class="mr-5" src="../../assets/mee-simple-icon.svg" alt="Mee foundation logo" >Connect with Mee</a>
  </div>
  <div class="flex flex-col gap-5 mb-25 w-screen px-5 md:max-w-[560px]">
    <h6 class="text-2xl leading-normal font-bold text-center">Download our free identity agent app and let it start protecting your interests online</h6>
    <div class="flex flex-col md:flex-row justify-center items-center gap-5 md:gap-10">
      <a href="https://apps.apple.com/app/mee-identity-agent/id1673110845" target="_blank"><img src="../../assets/download-apple-btn.png" alt="Link to Mee application"></a>
      <a href="#"  target="_blank"><img src="../../assets/download-android-btn.png" alt="Link to Mee application"></a>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row justify-between items-center w-screen px-15 pb-10 text-sm font-medium leading-none tracking-wider gap-7">
    <span class="hidden lg:inline">© {new Date().getFullYear()} The Mee Foundation, Inc.</span>
    <ul class="flex text-center flex-col md:flex-row gap-7 md:gap-10 mb-13 md:mb-0">
      {links.map(link => <li><a href={link.link}>{link.name}</a></li>)}
      <li><a href="#">Blog</a></li>
    </ul>
    <a href="#" target="_blank">Privacy Policy</a>
    <span class="inline lg:hidden">© {new Date().getFullYear()} The Mee Foundation, Inc.</span>
  </div>
</footer>

<style>
  .footer {
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
    background-color: white;
		/* transform: translateY(120px); */
	}
  .footer--fill {
    background:  linear-gradient(218.91deg, #559FAA 16.17%, #335F66 56.32%) left bottom no-repeat;
  }
  .link::after {
    content: url('../../assets/arrow-right.svg');
    display: block;
    position: absolute;
    width: 21px;
    height: 12px;
    top: 0;
    right: 0;
  }
  .link:hover::after {
    animation: animate-arrow 700ms;
  }

  @keyframes animate-arrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6px);
    }
    to {
      transform: translateX(0);
    }
  }
</style>