---
import Footer from "./Footer.astro";
import done from "../../assets/done.svg";
export interface Props {}

const {} = Astro.props;
const gives_you = [
  [
    "Better user experience",
    " – one-tap account creation, password-free sign-in, less form filling.",
  ],
  [
    "Access to high-quality, up-to-date user profile data",
    " allowing you to provide more personalized/relevant content, offers, and advertising.",
  ],
  [
    "Enhanced brand reputation",
    " – the Mee trustmark on your site lets users know that you respect your user’s privacy.",
  ],
];
---

<article
  id="envision"
  class="envision relative flex flex-col justify-center items-center w-screen overflow-x-hidden"
>
  <section class="flex top-0 section items-center justify-center w-screen mt-32 md:mt-48">
    <div
      class="transition-opacity duration-500 flex flex-col items-center justify-center mb-8 px-6 md:p-0"
    >
      <div id="title" class="title w-full md:w-160 mb-7 overflow-hidden">
        <h2
          class="text text-[28px] leading-9 md:text-4xl md:leading-13.5 font-bold text-center animate-riseIn text-black"
        >
          Why <span class="underline-animation-container"
            >your<span class="underline-animation"></span></span
          > organization should join the community of Mee providers.
        </h2>
      </div>
    </div>
  </section>
  <section
    class="providers-bg relative section flex flex-col items-center justify-center w-screen pb-20"
  >
    <div class="flex flex-col items-center justify-center">
      <div id="title" class="title overflow-hidden z-100 w-full md:w-160 px-6 md:p-0">
        <h2
          class="text text-base md:text-xl md:leading-8 font-medium tracking-wider text-center animate-riseIn text-black mb-6"
        >
          By displaying the Mee trustmark and adding the “Connect with Mee”
          button, your users know you have committed to surveillance-free
          interactions and agreed to abide by the Mee HIL.
        </h2>
      </div>
      <div id="title" class="title overflow-hidden z-100 w-full md:w-160 px-6 md:p-0">
        <h2
          class="text text-base md:text-xl font-extrabold tracking-wider text-center animate-riseIn text-black pb-16"
        >
          This gives your organization:
        </h2>
      </div>
      {
        gives_you.map((items) => (
          <div class="flex flex-col items-center section-0 mb-2 md:mb-4 w-full md:w-160 px-6 md:p-0 overflow-hidden" >
            <div class=" bg-orange-lighter pt-2 pb-4 flex animate-riseIn rounded-lg px-2">
              <div class="mr-4">
                <div class="h-6 w-6 md:h-8 md:w-8 border-[1.5px] border-white m-2 relative rounded">
                  <img
                    src={done}
                    alt=""
                    class="absolute bottom-[7px] left-[5px] md:bottom-[10px] md:left-[7px]"
                  />
                </div>
              </div>

              <h2 class="text text-base ms:text-xl text-black mt-2">
                <span class="font-extrabold">{items[0]}</span>
                <span>{items[1]}</span>
              </h2>
            </div>
          </div>
        ))
      }
    </div>
  </section>
  <Footer mode="light" />
</article>

<style>
  .providers-bg {
    z-index: 1;
    height: auto;
  }
  .providers-bg::after {
    content: "";
    position: absolute;
    width: 120vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 50px;
    height: 120%;
    background: linear-gradient(
      to top,
      rgba(249, 200, 137, 0.4) 50%,
      rgba(249, 182, 137, 0.4) 100%
    );
    filter: blur(100px);
    z-index: -1;
  }

  .text {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  .underline-animation-container {
    display: inline-block;
    position: relative;
  }

  .underline-animation {
    content: "";
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 2px;
    left: 0;
    border-radius: 3px;
    background-color: #f9df89;
    z-index: -1;
    transform-origin: bottom right;
    transition: transform 3s ease-out;
    transform-origin: bottom left;
    transform: scaleX(0);
    animation: moveUnderline 700ms linear forwards;
  }

  @keyframes moveUnderline {
    75% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
</style>
