---
import Footer from './Footer.astro';
import done from '@assets/done.svg';
export interface Props {}

const {} = Astro.props;
const gives_you = [
  [
    'Offer a superior customer experience:',
    ' no passwords, less form filling, less hassle.',
  ],
  [
    'Gain access to high-quality, opt-in customer profile data',
    ' and provide more personalized and relevant content, offers, and advertising.',
  ],
  [
    'Enhance your brand’s reputation',
    ' for fair and responsible data practices that build trust with people who use your apps and sites',
  ],
];
---

<article
  class="relative flex h-full w-screen flex-col items-center justify-between overflow-hidden"
>
  <section
    class="section top-0 mb-10 mt-32 flex w-screen items-center justify-center md:mt-48"
  >
    <div
      class="flex flex-col items-center justify-center px-6 transition-opacity duration-500 md:p-0"
    >
      <div id="title" class="title w-full overflow-hidden md:w-160">
        <h2
          class="text marker animate-riseIn text-center text-3xl font-bold lg:text-5xl"
        >
          Why <mark>your</mark> business should offer the Mee experience to your
          customers
        </h2>
      </div>
    </div>
  </section>
  <section
    class="section relative flex w-screen flex-col items-center justify-center pb-20"
  >
    <div class="fixed top-0 h-screen w-screen">
      <div class="overflow-hidden"></div>
    </div>
    <div class="bg-1"></div>
    <div class="flex flex-col items-center justify-center gap-16">
      <div class="flex flex-col">
        {
          gives_you.map((items) => (
            <div class="givesItem section-0 z-10 mb-2 flex w-full flex-col items-center overflow-hidden px-6 md:mb-4 md:w-160 md:p-0">
              <div class="flex w-full  animate-riseIn-short rounded-lg bg-orange-lighter px-2 pb-4 pt-2 animation-delay-1000">
                <div class="mr-4">
                  <div class="relative m-2 h-6 w-6 rounded border-[1.5px] border-white md:h-8 md:w-8">
                    <img
                      src={done.src}
                      alt=""
                      class="absolute bottom-[7px] left-[5px] md:bottom-[10px] md:left-[7px]"
                    />
                  </div>
                </div>

                <h2 class="text ms:text-xl mt-2 pr-2 text-base text-black">
                  <span class="font-extrabold">{items[0]}</span>
                  <span>{items[1]}</span>
                </h2>
              </div>
            </div>
          ))
        }
      </div>
      <div class="title z-100 w-full overflow-hidden px-6 md:w-160 md:p-0">
        <div class="mb-6 overflow-hidden">
          <h2
            class="text animate-riseIn text-justify text-base font-medium leading-relaxed text-black/80 animation-delay-2000 md:text-xl"
          >
            To incorporate the Mee experience into your websites and apps,
            integrate our Agent Software Development Kit (SDK) or Agent
            Service and agree to the terms of the Mee Data Network License.
          </h2>
        </div>
      </div>
    </div>
  </section>
  <Footer mode="light" withAppButtons={false} />
</article>

<style>
  .providers-bg {
    z-index: 1;
    height: auto;
  }

  .bg-1 {
    content: '';
    position: absolute;
    width: 120vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    top: 50px;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(249, 200, 137, 0.4) 50%,
      rgba(249, 182, 137, 0.4) 100%
    );
    filter: blur(100px);
    transform: translate3d(0, 0, 0);
    z-index: 1;
  }
  .givesItem:nth-child(1) > div {
    animation-delay: 1400ms;
  }
  .givesItem:nth-child(2) > div {
    animation-delay: 1600ms;
  }
  .givesItem:nth-child(3) > div {
    animation-delay: 1800ms;
  }
  .text {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  .marker > mark::after {
    animation-delay: 800ms;
  }
</style>
