---
import Logo from './Logo.astro';
import Menu from './Menu.astro';

export interface Props {
  logoColor?: "blue" | "white";
}

const {logoColor = "white"} = Astro.props;
---

<header class="header fixed z-200 flex w-full top-0 px-5 py-4 md:px-[60px] md:py-6 justify-between">
  <a href="/" id="mainLogo" class:list={["block logo w-[69px] h-5 pt-1.5 md:w-[97px] md:h-[28px] md:pt-0", {"logo--contrast": logoColor === "blue"}]}>
    <Logo />
  </a>
  <Menu />
</header>

<style is:global>
  .header {
    mask: linear-gradient(to top, transparent, black 35%);
    backdrop-filter: blur(8px);
  }
  .header::before {
    /* content: ''; */
    position: absolute;
    inset: 0;
    z-index: -1;
    -webkit-mask: linear-gradient(to top, transparent, black 35%);
    mask: linear-gradient(to top, transparent, black 35%);
    backdrop-filter: blur(2px);
  }
  .logo > svg {
    fill: white;
    transition: all;
    /* transition-delay: 2.9s; */
    transition-duration: 200ms;
    transition-timing-function: linear;
  }
  .logo--contrast > svg{
    fill: #447F88;
    
  }
</style>