---
import Menu from './Menu.astro';

export interface Props {}

const {} = Astro.props;
---

<header class="fixed z-100 flex w-full top-0 px-5 pt-[22px] md:px-[60px] md:pt-10 justify-between">
  <div class="w-[69px] h-5 pt-1.5 md:w-[97px] md:h-[28px] md:pt-0">
    <img src="../../assets/mee-logo.svg" width="97" height="28" alt="Mee Foundation logo"/>
  </div>
  <Menu />
</header>