---
import init1 from '../../assets/phoneScreens/init-1.png';
import collects8 from '../../assets/phoneScreens/collects-8.png';
import billingfilled5 from '../../assets/phoneScreens/billing-filled-5.png';
---

<section id="section1"  class="section1 w-full mt-[60px] lg:mt-[791px] flex justify-center lg:justify-start mx-[20px] lg:pl-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">It protects you</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={init1} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Mee is your personal identity agent
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Runs entirely on your device
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Protects your privacy
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stops apps/sites from tracking you
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stops them from selling information about you
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section id="section2" class="section1 mt-[48px] lg:mt-[580px] flex justify-center lg:justify-end w-full mx-[20px] lg:pr-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">It collects your data</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={collects8} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Pulls your data from apps/sites you use
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Organizes it conveniently across all of your apps/sites
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stores it on your device
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Nothing is shared with The Mee Foundation
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section id="section3" class="section1 mt-[48px] lg:mt-[580px] mb-[100px] lg:mb-[180px] flex justify-center lg:justify-start w-full mx-[20px] lg:pl-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">Private Sharing</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={billingfilled5} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Tap the Connect-with-Mee button on apps/sites to create a data private sharing connection
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more passwords–you’re logged in immediately
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more “create account”–your data is automatically synced
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Share privacy-protected interest profiles to increase relevance of content and offers
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      All data shared remains remotely controlled by your Mee agent
    </div>
  </div>
</section>

<style>
</style>