---
import mainpage2 from '../../assets/phoneScreens/main-page-2.png';
import init1 from '../../assets/phoneScreens/init-1.png';
import license6 from '../../assets/phoneScreens/license-6.png';
import mee7 from '../../assets/phoneScreens/mee-7.png';

---

<section class="section w-full mt-[60px] lg:mt-[791px] flex justify-center lg:justify-start mx-[20px] lg:pl-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">Protects</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={init1} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Mee is your personal identity agent
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Runs entirely on your device
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Protects your privacy
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Tells apps/sites “Do Not Track” and “Do Not Sell My Personal Information”
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[580px] flex justify-center lg:justify-end w-full mx-[20px] lg:pr-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">Shares Privately</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={mainpage2} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Tap the Mee button on apps/sites to create a data private sharing connection
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more passwords–you’re logged in immediately
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more “create account”–your data is automatically synced
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Share privacy-protected interest profiles to increase relevance of content and offers
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      All data shared remains remotely controlled by your Mee agent
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[880px] flex justify-center lg:justify-start w-full mx-[20px] lg:pl-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[36px] font-bold text-center lg:text-left">We’re building a community of certified providers</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={license6} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="text-base mb-[24px] text-center lg:text-left">
      Certified providers take a stand to respect user privacy and build user trust by signing the <b>Human Information License:</b>
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They agree not to process, store or transfer your data without your consent
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They allow you to download your data into your agent
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They allow your agent to update or delete the data they hold about you
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[1020px] mb-[92px] lg:mb-[500px] flex justify-center lg:justify-end w-full mx-[20px] lg:pr-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">What can certified providers do with your data:</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={mee7} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Only retain information beyond while you are using their app or site if it is required for business processes like automatic payments or transactional emails.
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They are allowed to display the Mee trustmark
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They are subject to financial penalties if they fail to comply
    </div>
  </div>
</section>

<style>
</style>