---

---

<section class="section w-full mt-[60px] lg:mt-[791px] flex justify-center lg:justify-start mx-[20px] lg:ml-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">Mee is your identity agent.</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src="/assets/phoneScreens/init-1.png" width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      It respects your privacy on any app/site
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      It tells apps/sites “Do Not Sell My Personal Information”
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      It deletes third-party tracking (surveillance) cookies
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[580px] flex justify-center lg:justify-end w-full mx-[20px] lg:mr-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">Using Mee on compatible apps/sites.</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src="/assets/phoneScreens/main-page-2.png" width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      One tap on the Connect-with-Mee button logs you in (or signs you up)
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more passwords—Mee confirms your identity for you
    </div>
    <div class="bg-about-bg2 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Less form-filling—Mee shares your information for you over a private connection
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[880px] flex justify-center lg:justify-start w-full mx-[20px] lg:ml-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[36px] font-bold text-center lg:text-left">We’re building a community of certified providers.</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src="/assets/phoneScreens/license-6.png" width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="text-base mb-[24px] text-center lg:text-left">
      Certified providers take a stand to respect user privacy and build user trust by signing the <b>Human Information License:</b>
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They agree not to process, store or transfer your data without your consent
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They allow you to download your data into your agent
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They allow your agent to update or delete the data they hold about you
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-[60px]">
  <div class="border-t-2 w-[28px] border-black" ></div>
</div>

<section class="section mt-[48px] lg:mt-[1020px] mb-[92px] lg:mb-[500px] flex justify-center lg:justify-end w-full mx-[20px] lg:mr-[60px]">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-[42px] font-bold text-center lg:text-left">What can certified providers to with your data:</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-[0px] lg:mt-[40px] mb-[40px] lg:mb-[0px] border-black02 border-2 rounded-2.5xl h-[477px] w-[257px]">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src="/assets/phoneScreens/mee-7.png" width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Only retain information beyond while you are using their app or site if it is required for business processes like automatic payments or transactional emails.
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They are allowed to display the Mee trustmark
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      They are subject to financial penalties if they fail to comply
    </div>
  </div>
</section>

<style>
</style>