---
import init1 from '@assets/phoneScreens/init-1.png';
import collects8 from '@assets/phoneScreens/collects-8.png';
import billingfilled5 from '@assets/phoneScreens/billing-filled-5.png';
---

<section id="section1"  class="section1 w-full mt-15 lg:mt-[791px] flex justify-center mx-5 lg:mr-180 xl:mr-200">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-10.5 font-bold text-center lg:text-left">Protects your privacy</div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-0 lg:mt-10 mb-10 lg:mb-0 border-black02 border-2 rounded-2.5xl h-119.25 w-64.25">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={init1.src} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stops apps/sites from tracking you
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stops them from selling information about you
    </div>
    <div class="bg-about-bg1 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Runs entirely on your device
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-15">
  <div class="border-t-2 w-7 border-black" ></div>
</div>

<section id="section2" class="section1 mt-12 lg:mt-145 flex justify-center w-full mx-5 lg:ml-180 xl:ml-200">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-10.5 font-bold text-center lg:text-left">
      Manages your information
    </div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-0 lg:mt-10 mb-10 lg:mb-0 border-black02 border-2 rounded-2.5xl h-119.25 w-64.25">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={collects8.src} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Retrieves your data from apps/sites you use
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Organizes it conveniently across all of your apps/sites
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Stores it on your device
    </div>
    <div class="bg-about-bg3 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Nothing is shared with The Mee Foundation
    </div>
  </div>
</section>

<div class="lg:hidden w-full flex justify-center mt-15">
  <div class="border-t-2 w-7 border-black" ></div>
</div>

<section id="section3" class="section1 mt-12 lg:mt-145 mb-25 lg:mb-45 flex justify-center w-full mx-5 lg:mr-180 xl:mr-200">
  <div class="w-about-sm lg:w-about-lg xl:w-about">
    <div class="text-2xl mb-10.5 font-bold text-center lg:text-left">
      Represents you online
    </div>

    <div class="w-full lg:hidden flex justify-center">
      <div class="phoneMain p-2 lg:p-4 z-10 mt-0 lg:mt-10 mb-10 lg:mb-0 border-black02 border-2 rounded-2.5xl h-119.25 w-64.25">
        <div class="overflow-hidden rounded-xl relative h-full">
          <img id="screen1" class="phoneScreen absolute" src={billingfilled5.src} width="477" height="257" class=""/>
        </div>
      </div>
    </div>

    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more passwords–you’re logged in immediately
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      No more creating accounts and filling in forms
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Private data sharing: data is shared yet remains under your control [under development]
    </div>
    <div class="bg-about-bg4 text-base px-2.5 py-3 mb-2 rounded-lg text-center lg:text-left">
      Share privacy-protected interest profiles to increase relevance of content & offers  [under development]
    </div>
  </div>
</section>

<style>
</style>