---

export interface Props {
  mode: "dark" | "light";
}

const {mode} = Astro.props;
---
<div class="text-center">
  <a id="meeConnectBtn" href="#" class:list={
    [
      "connectBtn flex flex-row items-center justify-center text-meeBtn eading-normal font-medium px-2 sm:px-10 h-[51px] text-center rounded-[10px]",
      {"text-blue bg-white before:bg-blue": mode === "dark",
      "bg-blue text-white before:bg-white": mode === "light"}
    ]}>
    <span class="text-sm sm:text-base">Continue with</span>
    <div class:list={[
      'flex meeLogo h-4 w-[55px] pt-0 ml-2.5',
      {'bg-white': mode === 'light'},
      {'bg-blue': mode === 'dark'},
    ]}/>
    <!-- <div
      class:list={[
        'block logo h-4 w-14 h-5 pt-0 ml-2.5',
        {'logo--contrast': mode === 'dark'},
      ]}
    >
      <Logo />
    </div> -->
  </a>
</div> 

<style is:global>
  .meeLogo {
    mask-image: url("/images/mee-logo.svg");
    mask-size: contain;
  }
</style>