---
import Background from './Background.astro';
import Grid from './Grid.astro';

export interface Props {
}

const {  } = Astro.props;
const subtitles = ["there is an online power imbalance.","data brokers and marketers are buying and selling information about you without your knowledge.","service providers can sell or share your data under any terms they insert into their privacy policies.","you can’t control who has your data or how they’ll use it.","many users navigate this world with mistrust and fear."]
---

<article class="flex flex-col items-center">
  <Background />
	<!-- <img id="linesImage" class="lines animate-fadeIn" src="/assets/lines.svg" /> -->
	
	<div class="shadow"/>
	
  <section class="relative z-100 flex flex-col items-center text-center w-full md:w-[692px]">
		<Grid />
    <div id="title" class="overflow-hidden fixed flex items-center justify-center h-screen pb-7">
      <h2 class="text text-base leading-5 font-bold tracking-wider uppercase animate-riseIn text-purple">In today’s digital world...</h2>
    </div>
		{subtitles.map(subtitle => (
			<div class="section flex flex-col items-center section-0 overflow-hidden min-h-screen">
				<div class="subtitle overflow-hidden fixed z-100 top-1/2 w-full md:w-[692px] hidden opacity-0">
					<h2 class="text text-xl md:text-[20px] font-bold uppercase animate-riseIn text-white/[.85]">{subtitle}</h2>
				</div>
			</div>
		))}
  </section>

</article>

<style>
	.text {
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;  
	}
  .shadow {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: radial-gradient(farthest-side,#0F080E 20%, transparent 120%) center no-repeat;;
		z-index: 10;
		animation: pulse 5s infinite alternate;
		backface-visibility: hidden;
	}

	@keyframes pulse {
  0% {
    transform: perspective(300px) translateZ(50px);
  }

  100% {
    transform: perspective(300px) translateZ(150px);
  }
}

  .lines {
		width: 100vw;
		height: 100vh;
		position: fixed;
		object-fit: cover;
	}
	.subtitle {
		transition: opacity 300ms;
	}

</style>

<script>
  const sections = document.querySelectorAll('.section')
	const linesImage = document.getElementById("linesImage");

		const options: IntersectionObserverInit = {
			root: null,
			threshold: 0.1,
			rootMargin: "-50%"
		};
		const observer = new IntersectionObserver((entries, _) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					entry.target.querySelector(".subtitle")?.classList.remove("opacity-0");
					entry.target.querySelector(".subtitle")?.classList.remove("hidden");
				} else {
					setTimeout(()=> entry.target.querySelector(".subtitle")?.classList.add("hidden"),300);
					entry.target.querySelector(".subtitle")?.classList.add("opacity-0")
				}
			})
		}, options);


		sections.forEach((section) => {
			observer.observe(section)
		});

		const storeScroll = () => {
			const scrollPosition = window.scrollY / 1000;
			const diffVal = 0.144;
			const scaleFactor = scrollPosition - (diffVal * Math.floor(scrollPosition / diffVal));

			if (linesImage) {
				// linesImage.style.transition = "all 1000ms linear";
				linesImage.style.transform = `scale(${1 + scaleFactor})`
				// linesImage.style.transition = "none";
			}

			console.log(scrollPosition,window.scrollY, 0.02 * Math.floor(scrollPosition / 0.02), scaleFactor)
			// document.documentElement.dataset.scroll = window.scrollY.toString();
		};

		// document.addEventListener('scroll', storeScroll) //needs debounce
</script>
